*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(221, 216, 216);
}
label{
    font-size: 15px;
    margin: 15px;
    font-weight: 400;
    
}
textarea{
    margin-top: 10px;

}
#submit,#reset
{
    margin: 5px;
}

