*{
    background-color: rgb(228, 224, 224);
    font-family: 'Times New Roman', Times, serif;
}
.radiobutton{
    height: 100vh;
    width: 100%;
}
label{
    margin-top: 10px;
}

#Mobile,#address{
    display: block;
   margin-left: 40%;
}
#male,#female,#others{
    display: inline-block;
    
}

#submit,#reset
{
    display: inline;
   margin-left: 40%;
   
}
#reset{
    position: absolute;
    left: 20%;
}


